body{
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
}
#btn, #btn1{
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    border: solid;
    margin-left: 350px;
    align-items: center;
    cursor: pointer;
    font-weight: bold;

}
h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;

}
#mainresult{
    border: black 7px solid;
}
#btn1{
    margin-right: 300px;
}